body {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
  font-weight: 0;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
nav{
 font-family: "Fjalla One", sans-serif;
  font-weight: 0;
  font-style: normal;
}
